// COLORS
// $color-primary-light: #7ed56f;
$color-primary: #4ECDC4;
$color-primary-dark: #3BB3AB;

// $color-secondary-light: #ffb900;
$color-secondary: #446CB3; // reveive
// $color-secondary-dark: #ff7730;

// $color-tertiary-light: #2998ff;
$color-tertiary: #FF5730; // sent
// $color-tertiary-dark: #5643fa;

// $color-quaternary: #7ED321; // 

$color-grey-light-1: #F7F8F9;// background color for account
$color-grey-light-2: #eee; // dividerColor, 
$color-grey-light-3: #ECECEC; // progressbar background

$color-grey-dark-1: #9B9B9B; // subtitle, 
$color-grey-dark-2: #555; // pending,title
// $color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-error: #FF1212; // failed
$color-success: #7ED321; // success

// FONT
$default-font-size: 1.6rem;

// 
$header-height: 16rem;
$appbar-height: 5.6rem;
$bottom-navigator: 5.6rem;
