.form {
  padding: 2rem 1rem;
  height: 100%;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  &__align-end {
    text-align: end;
  }
  &__align-start {
    text-align: start;
  }
  &__primary-text {
    color: $color-secondary;
    font-size: $default-font-size * 0.8;
  }
  &__secondary-text {
    color: $color-grey-dark-2;
    font-size: $default-font-size * 0.7;
  }
  &__tertiary-text {
    color: $color-grey-dark-1;
    font-size: $default-font-size * 0.7;
  }
  &__column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
